USE [master]
GO
/****** Object:  Database [IS2026_82CD]    Script Date: 19/05/2026 17:57:27 ******/
CREATE DATABASE [IS2026_82CD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IS2026_82CD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\IS2026_82CD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IS2026_82CD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\IS2026_82CD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IS2026_82CD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IS2026_82CD]
GO
/****** Object:  Table [dbo].[Bitacora_82CD]    Script Date: 19/05/2026 17:57:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora_82CD](
	[IdBitacora_82CD] [int] IDENTITY(1,1) NOT NULL,
	[Evento_82CD] [varchar](200) NOT NULL,
	[LogIn_82CD] [varchar](100) NOT NULL,
	[Fecha_82CD] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBitacora_82CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol_82CD]    Script Date: 19/05/2026 17:57:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol_82CD](
	[IdRol_82CD] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol_82CD] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol_82CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_82CD]    Script Date: 19/05/2026 17:57:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_82CD](
	[DNI_82CD] [nvarchar](50) NOT NULL,
	[Apellidos_82CD] [nvarchar](50) NOT NULL,
	[Nombre_82CD] [nvarchar](50) NOT NULL,
	[Email_82CD] [nvarchar](50) NOT NULL,
	[LogIn_82CD] [nvarchar](50) NOT NULL,
	[Password_82CD] [varchar](255) NULL,
	[IdRol_82CD] [int] NOT NULL,
	[Bloqueado_82CD] [bit] NOT NULL,
	[Activo_82CD] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI_82CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[LogIn_82CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuario_82CD]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol_82CD] FOREIGN KEY([IdRol_82CD])
REFERENCES [dbo].[Rol_82CD] ([IdRol_82CD])
GO
ALTER TABLE [dbo].[Usuario_82CD] CHECK CONSTRAINT [FK_Usuario_Rol_82CD]
GO
USE [master]
GO
