USE [IS2026_82CD]
GO
/****** Object:  Table [dbo].[Rol_82CD]    Script Date: 9/5/2026 02:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol_82CD](
	[IdRol_82CD] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol_82CD] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol_82CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_82CD]    Script Date: 9/5/2026 02:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_82CD](
	[DNI_82CD] [nvarchar](50) NOT NULL,
	[Apellidos_82CD] [nvarchar](50) NOT NULL,
	[Nombre_82CD] [nvarchar](50) NOT NULL,
	[Email_82CD] [nvarchar](50) NOT NULL,
	[LogIn_82CD] [nvarchar](50) NOT NULL,
	[Password_82CD] [varchar](255) NULL,
	[IdRol_82CD] [int] NOT NULL,
	[Bloqueado_82CD] [bit] NOT NULL,
	[Activo_82CD] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI_82CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Rol_82CD] ON 

INSERT [dbo].[Rol_82CD] ([IdRol_82CD], [NombreRol_82CD]) VALUES (1, N'Administrador')
INSERT [dbo].[Rol_82CD] ([IdRol_82CD], [NombreRol_82CD]) VALUES (2, N'Cliente')
INSERT [dbo].[Rol_82CD] ([IdRol_82CD], [NombreRol_82CD]) VALUES (3, N'Administrador')
SET IDENTITY_INSERT [dbo].[Rol_82CD] OFF
GO
INSERT [dbo].[Usuario_82CD] ([DNI_82CD], [Apellidos_82CD], [Nombre_82CD], [Email_82CD], [LogIn_82CD], [Password_82CD], [IdRol_82CD], [Bloqueado_82CD], [Activo_82CD]) VALUES (N'46115952', N'Devincenzi', N'Lautaro', N'Lautarodevincenzi@hotmail.com', N'Lauti.dev', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', 1, 0, 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario___03DCAC82419A0A9B]    Script Date: 9/5/2026 02:25:50 ******/
ALTER TABLE [dbo].[Usuario_82CD] ADD UNIQUE NONCLUSTERED 
(
	[LogIn_82CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuario_82CD]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol_82CD] FOREIGN KEY([IdRol_82CD])
REFERENCES [dbo].[Rol_82CD] ([IdRol_82CD])
GO
ALTER TABLE [dbo].[Usuario_82CD] CHECK CONSTRAINT [FK_Usuario_Rol_82CD]
GO
